.wrapper {
  width: 100%;
  padding: 10px;
}
.block {
  width: 700px;
  margin: 0px 10px 0px 10px;
  padding: 0px 10px;
  border: 1px solid black;
}

h1 {
  text-align: center;
}

.inline {
  color: red;
  width: 300px;
}

.pic {
  width: 100px;
  height: 150px;
}