@media all and (max-width: 425px) {
    .column_left {
        width: 100%;
        height: 50%;
    }
    .column_right {
        width: 100%;
        height: 50%;
    }
    button.btn {
        font-size: 13px;
    }
}