body {
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(11,52,132,1) 70%);
}

.box {
  display: inline-block;
  background-color: #fff;
  border-radius: 25px;
  width: 89%;
  height: 50vh;
  margin: 0px 100px 0px 100px;
  box-shadow: 2px 2px 4px 4px #c3c6cd;
  margin-top: calc(45% - 65vh);
  text-align: center;
}

.box .column_left {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 35%;
  float: left;
  margin-top: calc(17.5% - 100px);
}

h1 {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 800;
  color: #373c5a;
}

p {
  font-size: 20px;
  text-transform: uppercase;
  color: #373c5a;
}

button.btn {
  width: 113px;
  height: 53px;
  border-radius: 25px;
  color: #feffff;
  background-color: #121c3f;
  text-transform: uppercase;
  margin-top: 20px;
}

.column_right { 
  display: inline-block;
  width: 65%;
  height: 100%;
  position: relative;
}

img {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; 
}