* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  width: 100%;
  height: auto;
}

.wrapper .header {
  width: 100%;
  height: 100vh;
  background-color: cornflowerblue;
}

.wrapper .header .logo-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: calc(5%);
}

.wrapper .header .logo-row .logo {
  width: 150px;
  height: 150px;
  text-align: center;
}

.wrapper .header h1 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  padding-top: 35px;
  text-transform: uppercase;
}

.wrapper .header .firstLine {
  text-align: center;
  color: gainsboro;
  font-size: 19px;
}

.wrapper .header .secondLine {
  text-align: center;
  color: gainsboro;
  font-size: 19px;
}

.wrapper .header .counter {
  width: 30%;
  color: #fff;
  text-align: center;
  margin: 18px auto 0;
}

.wrapper .header .counter span {
  display: block;
  padding: 12px 0 30px;
  min-width: 25%;
  float: left;
}

.wrapper .header .counter em {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 3px;
  display: block;
  color: rgba(255, 255, 255, 0.6);
}

.wrapper .header .form {
  clear: both;
  text-align: center;
}

.wrapper .header .form input[type="email"] {
  background-color: transparent;
  width: 30vw;
  height: 4vh;
  color: white;
  font-size: 1.5vmin;
  border-bottom: 2px solid white;
}

.wrapper .header .form input[type="email"]::-webkit-input-placeholder {
  color: white;
  font-size: 1.5vmin;
}

.wrapper .header .form input[type="email"]:focus {
  color: white;
  font-size: 1.5vmin;
  box-shadow: 2px 2px 6px #000;
}

.wrapper .header .form .btn {
  padding-top: 5%;
}

.wrapper .header .form .btn button {
  cursor: pointer;
  font-size: 1.5vmin;
  padding: 1.7vmin 5vmin;
  border-radius: 5px;
  box-shadow: 0 0 5px 3px black;
  background-color: #d11eb3;
  color: #000;
}

.wrapper .header .form .btn button:hover {
  background-color: #3999a9;
}

.wrapper .header .mouse {
  clear: both;
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 60px;
}

.wrapper .header .mouse svg {
  fill: #000;
}

.wrapper .header .mouse circle {
  animation: scroll 2.5s ease infinite;
}

@keyframes scroll {
  0% {
    opacity: 0;
    cy: 481;
  }
  33% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    cy: 231;
  }
}

.wrapper {
  width: 100%;
  height: auto;
}

.wrapper .header {
  width: 100%;
  height: 100vh;
  background-color: cornflowerblue;
}

.wrapper .header .logo-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: calc(5%);
}

.wrapper .header .logo-row .logo {
  width: 150px;
  height: 150px;
  text-align: center;
}

.wrapper .header h1 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  padding-top: 35px;
  text-transform: uppercase;
}

.wrapper .header .firstLine {
  text-align: center;
  color: gainsboro;
  font-size: 19px;
}

.wrapper .header .secondLine {
  text-align: center;
  color: gainsboro;
  font-size: 19px;
}

.wrapper .header .counter {
  width: 30%;
  color: #fff;
  text-align: center;
  margin: 18px auto 0;
}

.wrapper .header .counter span {
  display: block;
  padding: 12px 0 30px;
  min-width: 25%;
  float: left;
}

.wrapper .header .counter em {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 3px;
  display: block;
  color: rgba(255, 255, 255, 0.6);
}

.wrapper .header .form {
  clear: both;
  text-align: center;
}

.wrapper .header .form input[type="email"] {
  background-color: transparent;
  width: 30vw;
  height: 4vh;
  color: white;
  font-size: 1.5vmin;
  border-bottom: 2px solid white;
}

.wrapper .header .form input[type="email"]::-webkit-input-placeholder {
  color: white;
  font-size: 1.5vmin;
}

.wrapper .header .form input[type="email"]:focus {
  color: white;
  font-size: 1.5vmin;
  box-shadow: 2px 2px 6px #000;
}

.wrapper .header .form .btn {
  padding-top: 5%;
}

.wrapper .header .form .btn button {
  cursor: pointer;
  font-size: 1.5vmin;
  padding: 1.7vmin 5vmin;
  border-radius: 5px;
  box-shadow: 0 0 5px 3px black;
  background-color: #d11eb3;
  color: #000;
}

.wrapper .header .form .btn button:hover {
  background-color: #3999a9;
}

.wrapper .header .mouse {
  clear: both;
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 60px;
}

.wrapper .header .mouse svg {
  fill: #000;
}

.wrapper .header .mouse circle {
  animation: scroll 2.5s ease infinite;
}

@keyframes scroll {
  0% {
    opacity: 0;
    cy: 481;
  }
  33% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    cy: 231;
  }
}

.about {
  width: 100%;
  height: 50vh;
  background-color: #fff;
  display: table;
}

.about .leftSection {
  display: table-cell;
  width: 50%;
  float: left;
  height: auto;
  padding: 7vh 7vw;
}

.about h2 {
  text-transform: uppercase;
  font-size: 2.5vmin;
  font-weight: bold;
  padding-bottom: 3vmin;
}

.about p {
  color: #888888;
  font-size: 1.7vmin;
  line-height: 2.5;
  margin-bottom: 5vmin;
}

.about .span__red {
  color: red;
}

.about .skills .progress__name {
  font-size: 15px;
  text-transform: uppercase;
}

.about .skills .skills__progress_text1 {
  width: 90%;
}

.about .skills .skills__progress_text2 {
  width: 86%;
}

.about .skills .skills__progress_text3 {
  width: 78%;
}

.about .skills .progress {
  height: 1.5em;
  width: 100%;
  background-color: #c9c9c9;
  position: relative;
}

.about .skills .progress:before {
  color: #fff;
  content: attr(data-label);
  font-size: 0.8em;
  position: absolute;
  text-align: center;
  top: 5px;
  left: 0;
  right: 0;
}

.about .skills .progress .value {
  background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)), -webkit-linear-gradient(left, #09c, #f44);
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
  display: inline-block;
  height: 100%;
}

.about .rightSection {
  display: table-cell;
  height: auto;
  width: 40%;
  float: left;
  padding: 7vh 7vw;
}

.about .rightSection .name,
.about .rightSection .email,
.about .rightSection .message {
  background-color: transparent;
  color: #888888;
  font-size: 1.7vmin;
  border-bottom: 2px solid #888888;
}

.about .rightSection .name::-webkit-input-placeholder,
.about .rightSection .email::-webkit-input-placeholder,
.about .rightSection .message::-webkit-input-placeholder {
  color: #888888;
  font-size: 1.5vmin;
}

.about .rightSection .name:focus,
.about .rightSection .email:focus,
.about .rightSection .message:focus {
  color: #888888;
  font-size: 1.5vmin;
}

.about .rightSection .name {
  width: 48%;
  margin-right: 4%;
  float: left;
}

.about .rightSection .email {
  width: 48%;
  float: left;
}

.about .rightSection .message {
  width: 100%;
  margin-top: 4vmin;
}

.about .rightSection .btn {
  text-align: right;
  padding-top: 20px;
}

.about .rightSection .btn button {
  cursor: pointer;
  font-size: 1.5vmin;
  padding: 1.7vmin 5vmin;
  border-radius: 5px;
  box-shadow: 0 0 5px 3px black;
  background-color: #d11eb3;
  color: #000;
}

.about .rightSection .btn button:hover {
  background-color: #3999a9;
}

.footer {
  width: 100%;
  height: auto;
  background-color: #3999a9;
  color: #fff;
  text-align: center;
}

.footer #backToTop {
  display: none;
  font-size: 7vmin;
  background: transparent;
  color: #ea1e63;
  position: fixed;
  bottom: 15px;
  left: 90vw;
  z-index: 99;
}

.footer .social {
  font-size: 2.7vmin;
  padding: 3vmin 0;
}

.footer .social a {
  margin: 0 5vmin;
  color: #fff;
}

.footer hr {
  display: inline-block;
  border: none;
  height: 2px;
  width: 90%;
  background: #fff;
  opacity: 0.3;
}

.footer .footerLogo {
  padding: 5vmin 0;
}

.footer .footerLogo .logo {
  height: 5vmin;
  font-size: 6vmin;
  font-weight: bold;
}

.footer .copyright {
  display: inline-block;
  width: 50%;
  font-size: 1.7vmin;
}

.footer .copyright span {
  color: #d1cccc;
  margin: 0 0.5vw;
}

.footer .copyright a {
  color: #fff;
}

.footer .copyright p {
  display: inline-block;
  line-height: 2;
  margin: .5vmin;
}

@media only screen and (max-width: 900px) {
  .header .logo-row {
    width: 100%;
    padding-top: 0;
  }
  .header .counter span {
    width: 100%;
    font-size: 20px;
  }
  .header .form {
    padding: 0 0 0 30vh;
    width: 70%;
  }
  .header .form input[type="email"] {
    width: 60%;
  }
  .header .form input[type="submit"] {
    width: 40%;
  }
  .header .mouse {
    padding-top: 35px;
  }
  .about .leftSection {
    width: 100%;
  }
  .about .rightSection {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .header .counter span {
    width: 100%;
    font-size: 20px;
  }
  .header .form {
    padding: 0 0 0 20vh;
    width: 80%;
    margin-bottom: 30px;
  }
  .header .form input[type="email"] {
    width: 55%;
  }
  .header .form input[type="submit"] {
    width: 45%;
  }
  .about .leftSection {
    width: 100%;
  }
  .about .rightSection {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .header .counter span {
    width: 100%;
    font-size: 20px;
  }
  .header .form {
    width: 100%;
    margin-bottom: 24px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .header .form input[type="email"] {
    width: 100%;
    float: none;
    margin-bottom: 0;
    border-radius: 3px 3px 0 0;
    text-align: center;
  }
  .header .form input[type="email"] input[type="submit"] {
    width: 100%;
    float: none;
    border-radius: 0 0 3px 3px;
  }
  .about .leftSection {
    width: 100%;
  }
  .about .rightSection {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .header .counter span {
    width: 100%;
    font-size: 20px;
  }
  .header .counter span em {
    font: 9px/18px "montserrat-regular", sans-serif;
    letter-spacing: 1.5px;
  }
  .about .leftSection {
    width: 100%;
  }
  .about .rightSection {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .header .counter span {
    width: 100%;
    font-size: 15px;
  }
  .header .counter span em {
    letter-spacing: 1px;
  }
  .header .form {
    padding-left: 0;
    padding-right: 0;
  }
  .about .leftSection {
    width: 100%;
  }
  .about .rightSection {
    width: 100%;
  }
}
