// Charging Animation
@keyframes charge25 {
    0%{background-color: $red;}
    25%{background-color: $orange;}
    50%{background-color: $yellow;}
    75%{background-color: $green;}
    100%{}
}
@keyframes charge50 {
    0%{opacity: 0;}
    25%{opacity: 1; background-color: $orange;}
    50%{background-color: $yellow;}
    75%{background-color: $green;}
    100%{}
}
@keyframes charge75 {
    0%{opacity: 0;}
    50%{opacity: 1; background-color: $yellow;}
    75%{background-color: $green;}
    100%{}
}
@keyframes charge100 {
    0%{opacity: 0;}
    75%{opacity: 1; background-color: $green;}
    100%{}
}

// Count animation

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

div.counter {
  animation: counter 9s infinite;
  counter-reset: num var(--num);
  font: 800 40px system-ui;
  color: azure;
}
div.counter::after {
  content: counter(num);
}

@keyframes counter {
  from {
    --num: 0;
  }
  to {
    --num: 100;
  }
}