.about {
  width: 100%;
  height: 50vh;
  background-color: #fff;
  display: table;
  .leftSection {
    display: table-cell;
    width: 50%;
    float: left;
    height: auto;
    padding: 7vh 7vw;
  }
  h2 {
    text-transform: uppercase;
    font-size: 2.5vmin;
    font-weight: bold;
    padding-bottom: 3vmin;
  }
  p {
    color: rgb(136, 136, 136);
    font-size: 1.7vmin;
    line-height: 2.5;
    margin-bottom: 5vmin;
  }
  .span__red {
    color: red;
  }
  .skills {
    .skills__progress_text1 {
      width: 90%;
    }
    .skills__progress_text2 {
      width: 86%;
    }
    .skills__progress_text3 {
      width: 78%;
    }
    .progress-bar {
      position: relative;
      width: 500px;
      height: 3em;
      background-color: #111;
      border-radius: 1.5em;
      color: white;
    }

    .progress-bar::before {
      content: attr(data-label);
      position: absolute;
      left: 0.5em;
      top: 0.5em;
      bottom: 0.5em;
      width: calc(var(--width, 0) * 1%);
      min-width: 2rem;
      max-width: calc(100% - 1em);
      background-color: #069;
      border-radius: 1em;
      padding: 1em;
    }
  }
  .rightSection {
    display: table-cell;
    height: auto;
    width: 40%;
    float: left;
    padding: 7vh 7vw;
    .name,
    .email,
    .message {
      background-color: transparent;
      color: rgb(136, 136, 136);
      font-size: 1.7vmin;
      border-bottom: 2px solid rgb(136, 136, 136);
      &::-webkit-input-placeholder {
        color: rgb(136, 136, 136);
        font-size: 1.5vmin;
      }
      &:focus {
        color: rgb(136, 136, 136);
        font-size: 1.5vmin;
      }
    }
    .name {
      width: 48%;
      margin-right: 4%;
      float: left;
    }
    .email {
      width: 48%;
      float: left;
    }
    .message {
      width: 100%;
      margin-top: 4vmin;
    }
    .btn {
      text-align: right;
      padding-top: 20px;
      button {
        cursor: pointer;
        font-size: 1.5vmin;
        padding: 1.7vmin 5vmin;
        border-radius: 5px;
        box-shadow: 0 0 5px 3px black;
        background-color: #d11eb3;
        color: #000;
        &:hover {
          background-color: #3999a9;
        }
      }
    }
  }
}
