.box {
  display: inline-block;
  width: 500px;
  max-height: 200px;
  border: 1px solid #000;
  margin-top: 20px;
  margin-left: calc(50% - 250px);
  position: relative;
}

.box p::after {
  position: absolute;
  top: 0;
  right: 20px;
  content: '"" ';
  width: 30px;
  height: 30px;
  background-color: cadetblue;
  border-radius: 15px;
  padding-top: 10px;
  padding-left: 10px;
}

p {
  position: relative;
}

.box p::after {
  position: relative;
  bottom: 0;
  left: 20px;
  content: '"" ';
  width: 30px;
  height: 30px;
  background-color: cadetblue;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 15px;
}
