@import 'reset';

body {
  // background-color: $color;
  .wrapper {
    display: inline-block;
    width: 100%;
    height: 100%;
        .block {
        width: 500px;
        height: 200px;
    }
  }
}