.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .block {
    width: 540px;
    height: 440px;
    margin: 20px;
    border: 25px solid #333;
}

.number_row_left {
  
  float: left;

}

.number_row_right {
  float: right;
}

.letters_row_top {
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-transform: uppercase;
}

.letters_row_bottom {
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-transform: uppercase;
}